export(build.subtable, check.mass.balance, get.chebi.all, get.kegg.all, get.kegg.byId, get.metacyc.all, get.metacyc.reaction.byId, get.rhea.all, get.rhea.byCompound, get.rhea.byId, get.unipathway.all, is.generic.metacyc, is.generic.rhea, parse.metacyc.compound, parse.metacyc.reaction, instantiate.rhea, instantiate.metacyc)
import(plyr, RCurl, gdata, KEGGREST, data.table, stringr, fmcsR, ChemmineR)
