export(BioCyc2ChEBI, BioCyc2cName, BioCyc2KEGG, BioCyc2PubChem, BioCyc.is.generic, get.ChEBI, get.Rhea, BioCyc.instantiate, parse.ChEBI, parse.MetaCyc.c, parse.MetaCyc.r, parse.Rhea, Rhea2cName, Rhea2KEGG, Rhea.instantiate, Rhea.is.generic, Rhea.massBal, BioCyc.massBal)
import(gdata, CHNOSZ, hash, foreach)
